<footer class="footer">
    <div class="container">
        <ul class="list-inline text-muted footer-pushdown">
          <li><i class="fa fa-facebook" aria-hidden="true"></i> <a href="https://www.facebook.com/ejc2019" title="Facebook">ejc2019</a></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/ejc2019" title="Twitter">@ejc2019</a></li>
        </ul>
        <p class="text-muted">Built with ❤️ and ☕️ by the 🇬🇧EJC2019 team</p>
    </div>
</footer>
