---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include site-header-favicons.html %}

    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>

    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>

    {% include site-header-analytics.html %}

    <!-- {% include site-header-nav.html %} -->

    {{ content }}

    {% include site-footer-content.html %}

    {% include site-footer-js.html %}

  </body>
</html>
